{% extends '@YosimitsoWorkingForum/Search/search.html.twig' %}

{% block search_result %}

    {% set results = resultsPager.currentPageResults %}

    <h2>{{ 'search.results_for' | trans({'%keywords%' : keywords}) }}</h2>

    {% include '@YosimitsoWorkingForum/Common/Include/search_result_thread_list.html.twig' %}

    {% if (resultsPager.haveToPaginate()) %}
    {{ pagerfanta(resultsPager, 'twitter_bootstrap4') }}
    {% endif %}

{% endblock %}