
{% trans_default_domain 'YosimitsoWorkingForumBundle' %}

{% macro flashmsg(form) %}

    {% for label, messages in app.flashes %}
        <div class="alert-{{ label }}">
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {% if form is not empty %}
        {{ form_errors(form) }}
    {% endif %}
{% endmacro %}

