
<section class="wf-index-block">
    <div class="wf-index-block-header">
        {% block forum_block_header %}
        {% endblock %}
    </div>
    {% block forum_block_body %}
    {% endblock %}
</section>

