
<section class="wf-post">
    <div class="wf-post-owner">
        {% block post_owner %}
        {% endblock %}
    </div>
    <div id="wf-post-{{ post.id }}">
        {% block post_body %}
        {% endblock %}
    </div>
</section>