
<tr>
    <td class="subforum-name">{% block subforum_name %}{% endblock %}</td>
    <td class="subforum-stats">{% block subforum_stats %}{% endblock %}</td>
    <td class="subforum-last-reply">{% block subforum_last_reply %}{% endblock %}</td>
</tr>
